<h1 class="alignCenter"><%= t("user.heading")%></h1>

<% if @users.empty? %>

    <p> No users</p>

<% else %>

<table class="tableView">

    <tr>
        <th>Id:</th>
        <th><%= t("activerecord.attributes.user.login")%>:</th>
    </tr>

    <% @users.each do |i| %>

    <tr>
        <td><%= i.id %></td>
        <td><%= link_to i.login, user_path(i) %></td>
    </tr>
    <% end %>
</table>
<% end %>
