<div class="loginForm">
  <h2>Welcome!</h2>
    <div class="loginFormInside">
      <%= simple_form_for $current_user do |f| %>

      <%= f.input :login%>
      <br />

      <%= f.input :password, placeholder: 'At least six characters.'%>

      <%= f.submit "Submit" %>

      <% end %>
  </div>
</div>
