<h1 style="text-align:center">User Info:</h1>
<div align="center" style="margin: auto;
    margin-top:2%;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 10px;">
    <h2>Login: <%= @user.login %></h2>
    <h2>Password:
    <% @user.password.length.times do %>
      <a>*</a>
    <% end %>
    </h2>
    <div align="center" style="margin: auto; background-color:#e6e6ff;
        margin-top:2%;
        width: 70%;
        border: 3px solid #cc0000;">
      <p style="text-align:center, font-color:red">
      Type password to delete user
      <%= form_for @user do |f| %>
      <%= f.password_field :password %>
          <button type="submit" style="margin-top:3%">Submit</button>
      <% end %>
      </p>
    </div>
</div>
