<h1 class="alignCenter">User Info:</h1>
<div class="userInfo">
   <!-- Reserved if localhost-->
    <h3>Country: <%= request.location.country %></h3>
    <h2>Login: <%= @user.login %></h2>
    <h2>Password:
    <% @user.password.length.times do %>
      <a>*</a>
    <% end %>
    </h2>
    <div class="remDivUser">
      <p class="alignCenter">
      Press button to delete user <br/>
      <% i = @user.id %>
      <div class="btn btn-warning">
        <%= link_to "Delete", user_path(i), method: :delete, data: { confirm: "Are you want to delete?"} %>
      </div>
      </p>
    </div>
</div>
