<h1>Edit Item</h1>

<%= form_for @item do |f| %>
    <!-- locals in order to have access to variable f from partial -->
    <%= render partial: "form", locals: {f: f}%>

    <p><%= f.submit "Save Item"%></p>

<% end %>
