<div class="newItemForm">
  <h1><%= t("item.hEdit") %></h1>

<%= simple_form_for @item do |f| %>
    <!-- locals in order to have access to variable f from partial -->
    <%= render partial: "form", locals: {f: f}%>

    <p><%= f.submit t("item.btnEdit")%></p>

<% end %>
</div>
