<div class="newItemForm"><h1><%= t("item.hCreate") %></h1>

<%= simple_form_for @item do |f| %>

    <%= render partial: "form", locals: {f: f}%>

    <p><%= f.submit t("item.btnCreate")%></p>

<% end %>
</div>
