// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adminPanel {text-align: center; width: 90%; margin: auto; margin-bottom: 1em;
   background-color: #73AD21; padding: 1em; color: #fff;}
