  @import "bootstrap";
  @import "bootstrap-sprockets";

  input[type=submit] { @extend .btn; @extend .btn-success;}

 .flashDiv {margin: auto; text-align: center; margin-top:1%; width: 30%; border: 3px solid #73AD21; padding: 10px;}

 .signInOutForm {text-align: center; width:17%; border: 3px solid #73AD21; padding: 5px; margin:2%; margin-top: 4%}

 .dropUnderline :link {text-decoration: none; font-style: italic; font-family: sans-serif; color: #1a1a1a;}

 .tableView  {margin: auto; margin-bottom: 4%; text-align: center; border-collapse: collapse; border: 1px solid black}

 .thAndtdView th, tr, td {border: 1px solid black; padding: 10px; text-align: center;}

 .alignCenter { text-align: center;}

 .pointPosition {position: fixed; bottom: 6%; right: 5%; opacity: 0.8;}

 .backgroundLayout { background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%,
    rgba(254,254,254,1) 29%, rgba(254,254,254,1) 73%, rgba(209,209,209,1) 100%);}

 .loginForm {margin: auto; margin-top:6%; width: 30%; text-align: center; background-color: #eaeae1;
   padding: 3%; padding-top: 2%; border-radius: 20%}

 .userInfo { margin: auto; text-align: center; margin-top:2%; width: 30%; border: 3px solid #73AD21; padding: 10px;}

 .remDivUser {margin: auto; background-color:#e6e6ff; text-align: center; margin-top:2%; width: 70%;
   border: 3px solid #cc0000;}

 .newItemForm {margin-left: 2%; margin-right: 78%}

 .loginFormInside {margin: 0 auto; width: 65%;}

 .marginLeft {margin-left: 5%;}

 .footer {position:fixed; bottom: 0%; width: 100%; text-align:center; margin-top:2%}
