// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginForm {margin: auto; margin-top:7%; width: 30%; text-align: center; border: 3px solid #73AD21; padding: 10px;}

.userInfo { margin: auto; text-align: center; margin-top:2%; width: 30%; border: 3px solid #73AD21; padding: 10px;}

.alignCenter { text-align: center;}

.remDivUser {margin: auto; background-color:#e6e6ff; text-align: center; margin-top:2%; width: 70%;
  border: 3px solid #cc0000;}
